.footer {
    padding: 64px 0px 30px 0px;
}
.footer-top {
    margin: 0px 0px 32px 0px;
    padding: 0px 0px 32px 0px;
    border-bottom: 1px solid #E4E4E4;
    display: grid;
    grid-template-columns: 1fr 50%;
    gap: 150px;
}
.footer-top__body {
}
.footer-top__title {
    margin: 0px 0px 59px 0px;
    h1 {
        font-size: 35px;
        letter-spacing: -1px;
        color: #242A36;
        font-weight: 700;
        line-height: 112%;
        span {
            color: #D9D9D9;
        }
    }
}
.footer-top__button {
    margin: 0px 0px 16px 0px;
    a {
        width: 100%;
    }
}
.footer-top__text {
    p {
        font-size: 13px;
        color: #242A36;
        text-align: center;
    }
}
.footer-top__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
.footer-top__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer-top__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-top__item {
    a, span {
        font-size: 18px;
        color: #242A36;
        font-weight: 500;
    }
}
.lang {}
.footer-bottom {}
.footer-bottom__text {}
.footer-bottom__img {}
.footer-bottom__policy {}
.footer-bottom__links {}