.footer {
    border-top: 1px solid #E4E4E4;
    padding: 64px 0px 30px 0px;
    background: linear-gradient(0deg, #FFEBB1 0%, #FAF6F3 25.29%, rgba(248, 248, 248, 0) 100%);
}
.footer-top {
    margin: 0px 0px 32px 0px;
    padding: 0px 0px 32px 0px;
    border-bottom: 1px solid #E4E4E4;
    display: grid;
    grid-template-columns: 1fr 50%;
    gap: 150px;
}
.footer-top__body {
}
.footer-top__title {
    margin: 0px 0px 59px 0px;
    h1 {
        font-size: 35px;
        letter-spacing: -1px;
        color: #242A36;
        font-weight: 700;
        line-height: 112%;
        span {
            color: #D9D9D9;
        }
    }
}
.footer-top__button {
    margin: 0px 0px 16px 0px;
    a {
        width: 100%;
    }
}
.footer-top__text {
    p {
        font-size: 13px;
        color: #242A36;
        text-align: center;
    }
}
.footer-top__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
.footer-top__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer-top__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &.grey {
        .footer-top__item {
            a, span {
                color: #717580;
            }
        }
    }
}
.footer-top__item {
    a, span {
        font-size: 18px;
        color: #242A36;
        font-weight: 500;
    }
}
.footer-bottom {}
.footer-bottom__text {
    margin: 0px 0px 16px 0px;
    p {
        font-size: 13px;
        color: #717580;
        text-align: center;
        line-height: 124%;
    }
}
.footer-bottom__button {
    text-align: center;
    margin: 0px 0px 32px 0px;
    button {
        background: none;
        font-size: 16px;
        color: #717580;
        padding: 0px 32px 0px 0px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            width: 24px;
            height: 24px;
            background: url('../img/services/arrow/01.svg') center / contain no-repeat;
        }
    }
}
.footer-bottom__img {
    margin: 0px 0px 32px 0px;
    img {
        display: block;
        width: 100%;
    }
}
.footer-bottom__policy {
    margin: 0px 0px 8px 0px;
    p {
        font-size: 13px;
        color: #717580;
        text-align: center;
    }
}
.footer-bottom__links {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    p, a {
        text-align: center;
        color: #717580;
        font-size: 13px;
    }
    a {
        white-space: nowrap;
    }
}