.header {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 50;
    padding: 4px 0px 0px 0px;
    transition: $transition;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 2;
        transition: $transition;
    }
    &.color {
        padding: 4px 0px 15px 0px;
        @media (max-width: 525px) {
            padding: 0px 0px 8px 0px;
        }
        &::before {
            background: linear-gradient(180deg, #F8F8F8 -37.38%, rgba(248, 248, 248, 0) 100%);
            box-shadow: 0 0 10px -2px #242A36;
        }
    }
    &.active {
        @media (max-width: 767px) {
            &::before {
                background-color: #F8F8F8;
                z-index: 4;
            }
        }
    }
}
.header-top {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #E4E4E4;
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    border-radius: 9999px;
    margin: 0px 0px 15px 0px;
    position: relative;
    z-index: 4;
    @media (max-width: 525px) {
        margin: 0px 0px 8px 0px;
    }
    &__text {
        text-align: center;
        line-height: 100%;
        @media (max-width: 375px) {
            line-height: 80%;
        }
        span {
            text-align: center;
            font-size: 13px;
            @media (max-width: 375px) {
                font-size: 10px;
            }
        }
    }
}
.header-bottom {
    display: flex;
    align-items: center;
    position: relative;
    & > *:last-child {
        margin: 0;
    }
    &__logo {
        margin: 0px 30px 0px 0px;
        flex: 0 0 auto;
        width: 116px;
        height: 41px;
        position: relative;
        z-index: 4;
        @media (max-width: 1250px) {
            margin: 0px 20px 0px 0px;
            width: 100px;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__list {
        margin: 0px 30px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        position: relative;
        z-index: 3;
        @media (max-width: 767px) {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100vh;
            transition: $transition;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 135px 15px 25px 15px;
            background-color: #F8F8F8;
            overflow-y: auto;
            z-index: auto;
            &.active {
                top: 0;
            }
        }
    }

    &__items {
        display: flex;
        align-items: center;
        gap: 24px;
        @media (max-width: 767px) {
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        &>span {
            cursor: pointer;
            width: 12px;
            height: 7px;
            background: url('../img/header/04.svg') center / contain no-repeat;
            transition: $transition;
            &.open {
                transform: rotate(180deg);
            }
        }
        a {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: -1px;
            @media (max-width: 1250px) {
                font-size: 15px;
            }
            @media (max-width: 767px) {
                font-size: 18px;
            }
        }
    }

    &__subitems {
        position: absolute;
        z-index: 2;
        top: calc(100% + 7px);
        left: 0;
        background-color: #ffffff;
        border: 1px solid #E4E4E4;
        padding: 16px;
        border-radius: 10px;
        transform: translate(0, -20px);
        opacity: 0;
        visibility: hidden;
        transition: $transition;
        &.open {
            transform: translate(0, 0);
            opacity: 1;
            visibility: visible;
        }
    }

    &__subitem {
        margin: 0px 0px 16px 0px;
        &:last-child {
            margin: 0;
        }
        a {
            white-space: nowrap;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        justify-content: flex-end;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0px 32px 0px 0px;
        position: relative;
        z-index: 4;
        @media (max-width: 1250px) {
            margin: 0px 15px 0px 0px;
        }
    }

    &__search {
        margin: 0px 32px 0px 0px;
        z-index: 4;
        @media (max-width: 1250px) {
            margin: 0px 15px 0px 0px;
        }
        button {
            width: 24px;
            height: 24px;
            background: url('../img/header/03.svg') center / 75% 75% no-repeat;
        }
        &>button {
            display: none;
            @media (max-width: 525px) {
                display: block;
            }
        }
        input {
            font-size: 13px;
            letter-spacing: -0.26px;
            color: #717580;
            background: none;
            max-width: 136px;
            @media (max-width: 970px) {
                max-width: 100px;
            }
            @media (max-width: 767px) {
                max-width: 136px;
            }
            &::placeholder {
                font-size: 13px;
                letter-spacing: -0.26px;
                color: #717580;
                transition: $transition;
            }
            &:focus {
                &::placeholder {
                    opacity: 0;
                }
            }
        }
    }

    &__menu {
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 70;
        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #242A36;
            transition: $transition;
            &:first-child {
                width: 16px;
                top: 10px;
                right: 0;
                left: auto;
            }
            &:last-child {
                bottom: 10px;
            }
        }
        @media (max-width: 767px) {
            &.active {
                span {
                    &:first-child {
                        width: 100%;
                        top: 14px;
                        left: 0;
                        right: auto;
                        transform: rotate(45deg);
                    }
                    &:last-child {
                        width: 100%;
                        bottom: 14px;
                        left: 0;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}
.header-bottom-link {

    &__icon {
        width: 19px;
        height: 19px;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__text {
        @media (max-width: 1250px) {
            display: none;
        }
        a {
            font-size: 13px;
            letter-spacing: -0.26px;
            color: #717580;
        }
    }
}


.header-bottom-search {
    &__body {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E4E4E4;
        padding: 4px 8px;
        gap: 8px;
        background-color: #F8F8F8;
        @media (max-width: 525px) {
            position: absolute;
            top: calc(100% + 8px);
            left: 0;
            width: 100%;
            transform: translate(-30px, 0);
            opacity: 0;
            visibility: hidden;
            transition: $transition;
            &.open {
                transform: translate(0, 0);
                opacity: 1;
                visibility: visible;
            }
        }
        input {
            font-size: 13px;
            letter-spacing: -0.26px;
            color: #717580;
            background: none;
            max-width: 136px;
            @media (max-width: 970px) {
                max-width: 100px;
            }
            @media (max-width: 767px) {
                max-width: 136px;
            }
            @media (max-width: 525px) {
                max-width: none;
                width: 100%;
            }
            &::placeholder {
                font-size: 13px;
                letter-spacing: -0.26px;
                color: #717580;
                transition: $transition;
            }
            &:focus {
                &::placeholder {
                    opacity: 0;
                }
            }
        }
    }
}

.header-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.7);
    transition: $transition;
    opacity: 0;
    visibility: hidden;
    @media (max-width: 767px) {
        display: none;
    }
    &.active {
        opacity: 1;
        visibility: visible;
        .header-sidebar__body {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
        }
    }
    &__body {
        max-width: 350px;
        height: 100%;
        overflow-y: auto;
        background-color: #f8f8f8;
        padding: 25px 15px;
        transition: all 0.3s ease 0.3s;
        opacity: 0;
        visibility: hidden;
        transform: translate(-100%, 0);
    }

    &__item {
        margin: 0px 0px 16px 0px;
        &:last-child {
            margin: 0;
        }
        a {
            font-size: 18px;
            letter-spacing: -1px;
        }
    }
}

.breadcrump {
    &__body {
        display: flex;
        align-items: center;
        z-index: 3;
        position: relative;
        margin: 0px 0px 15px 0px;
    }
    &__item {
        a {
            color: #717580;
            font-size: 13px;
        }
        &::after {
            content: '/';
            padding: 0px 3px;
            color: #717580;
        }
        &:last-child {
            a {
                color: #242A36;
            }
            &::after {
                display: none;
            }
        }
    }
}

.header-bottom__services {
    position: absolute;
    z-index: 100;
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
}
.header-bottom-services__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.header-bottom-services__item {
    padding: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.header-bottom-services-item__img {
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    position: relative;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.header-bottom-services-item__text {
    p {
        font-size: 18px;
        color: #717580;
        letter-spacing: -1px;
        font-weight: 500;
    }
}
.header-bottom-services__info {}
.header-bottom-services__blog {}
.header-bottom-services-blog__img {
    padding: 0px 0px 51% 0px;
    position: relative;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    margin: 0px 0px 16px 0px;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.header-bottom-services-blog__badge {
    padding: 9.5px 12px;
    border-radius: 9999px;
    border: 1px solid #E4E4E4;
    display: inline-block;
    margin: 0px 0px 8px 0px;
    span {
        font-size: 13px;
        color: #717580;
    }
}
.header-bottom-services-blog__title {
    margin: 0px 0px 8px 0px;
    h2 {
        font-size: 18px;
        color: #242A36;
        font-weight: 500;
    }
}
.header-bottom-services-blog__bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.header-bottom-services-blog__date {
    padding: 0px 0px 0px 32px;
}
.header-bottom-services-blog__button {}
.header-bottom-services__badge {}
.header-bottom-services-badge__title {}
.header-bottom-services-badge__text {}
.header-bottom-services-badge__button {}