@import "nullstyle";
@import "mixins";
@import "fonts";

$font: "Inter";
$transition: 0.3s ease 0s;

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
}

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    @media (max-width: 970px) {
        max-width: 800px;
    }
    @media (max-width: 767px) {
        max-width: none;
    }
}

body {
    &.lock {
        overflow-y: hidden;
    }
}

main {
    flex: 1 1 auto;
}

@import "header";

.hero {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% + 35px));
        width: 354px;
        height: 354px;
        background: #FFC721;
        border-radius: 50%;
        filter: blur(350px);
        @media (max-width: 425px) {
            width: 280px;
            height: 280px;
        }
    }
    &__body {
        padding: 49px 0px 144px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        max-width: 800px;
        margin: 0 auto;
    }

    &__badge {
        margin: 0px 0px 14px 0px;
        padding: 6px 13px 6px 31px;
        border: 1px solid #E4E4E4;
        background-color: #FFFFFF;
        border-radius: 9999px;
        position: relative;
        text-align: center;
        &::before {
            content: '';
            position: absolute;
            left: 13px;
            top: 50%;
            transform: translate(0, -50%);
            width: 8px;
            height: 8px;
            background-color: #FFC721;
            border-radius: 50%;
            border: 2px solid #FFC72140;
        }
    }

    &__title {
        margin: 0px 0px 14px 0px;
        h1 {
            color: #242A36;
            text-align: center;
            font-size: 52px;
            font-weight: 500;
            letter-spacing: -2.6px;
            line-height: 87%;
            @media (max-width: 970px) {
                font-size: 45px;
            }
            @media (max-width: 525px) {
                font-size: 35px;
                line-height: 120%;
                letter-spacing: 0;
            }
            @media (max-width: 425px) {
                font-size: 30px;
            }
        }
    }

    &__text {
        max-width: 459px;
        width: 100%;
        margin: 0px 0px 32px 0px;
        @media (max-width: 425px) {
            margin: 0px 0px 20px 0px;
        }
        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 174%;
            text-align: center;
            @media (max-width: 425px) {
                font-size: 17px;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin: 0px 0px 16px 0px;
        justify-content: center;
        a {
            display: inline-block;
            padding: 14.5px 32px;
            font-size: 16px;
            border-radius: 6px;
            transition: $transition;
            &:first-child {
                background: radial-gradient(52.01% 257.68% at 57.62% -157.68%, #68799C 0%, #242A36 100%);
                box-shadow: 0px 2px 5px 0px #0000001A;
                box-shadow: 0px 10px 10px 0px #00000017;
                box-shadow: 0px 22px 13px 0px #0000000D;
                box-shadow: 0px 40px 16px 0px #00000003;
                box-shadow: 0px 62px 17px 0px #00000000;
                color: #ffffff;
                &:hover {
                    background: #FFC721;
                    box-shadow: 0px 2px 5px 0px #FFC7211A;
                    color: #242A36;
                }
            }
            &:last-child {
                color: #242A36;
                border: 1px solid #0000000A;
                position: relative;
                padding: 14.5px 55.33px 14.5px 32px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 32px;
                    transform: translate(0, -50%);
                    width: 13.33px;
                    height: 11px;
                    background: url('../img/hero/03.svg') center / contain no-repeat;
                }
                &:hover {
                    border: 1px solid #242A36;
                    background-color: #FFFFFF;
                }
            }
        }
    }

    &__inscription {
        p {
            color: #717580;
            font-size: 16px;
            line-height: 157%;
        }
    }
}
.hero-title {
    &__images {
        display: inline-block;
        position: relative;
        padding: 0px 75px;
        @media (max-width: 970px) {
            padding: 0px 60px;
        }
        @media (max-width: 425px) {
            padding: 0px 55px;
        }
    }
    &__img {
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 6px;
        overflow: hidden;
        @media (max-width: 970px) {
            width: 45px;
            height: 45px;
        }
        @media (max-width: 425px) {
            width: 40px;
            height: 40px;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 52%;
            height: 52%;
            object-fit: contain;
        }
        &.--1 {
            left: 0;
            top: 15px;
            background: radial-gradient(106.75% 98.19% at 55.99% 51.38%, #FFB121 0%, #F9F5E7 100%);
            box-shadow: 1px 1px 5px 0px #FFE09E8A;
            box-shadow: 6px 6px 8px 0px #FFE09E78;
            box-shadow: 13px 13px 11px 0px #FFE09E47;
            box-shadow: 24px 24px 13px 0px #FFE09E14;
            box-shadow: 37px 37px 15px 0px #FFE09E03;
            transform: rotate(-10deg);
            @media (max-width: 525px) {
                top: 5px;
            }
        }
        &.--2 {
            top: 10px;
            right: 0;
            background: radial-gradient(52.01% 257.68% at 57.62% -157.68%, #68799C 0%, #242A36 100%);
            box-shadow: 0px 2px 5px 0px #343A4426;
            box-shadow: 0px 9px 9px 0px #343A4421;
            box-shadow: 0px 20px 12px 0px #343A4414;
            box-shadow: 0px 35px 14px 0px #343A4405;
            box-shadow: 0px 54px 15px 0px #343A4400;
            transform: rotate(12deg);
            @media (max-width: 525px) {
                top: 5px;
            }
        }
    }
}

.companys {
    margin: 0px 0px 120px 0px;
}
.companys__title {
    margin: 0px 0px 24px 0px;
    h1 {
        font-size: 22px;
        font-weight: 500;
        letter-spacing: -1px;
        text-align: center;
    }
}
.companys__body {}

.companys__items {
    display: flex;
    align-items: center;
    gap: 32px;
    overflow: hidden;
}

.companys__item {
    height: 56px;
    width: 120px;
    position: relative;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@import "footer";