@import "nullstyle";
@import "mixins";
@import "fonts";

$font: "Inter";
$transition: 0.3s ease 0s;

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
}

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    @media (max-width: 970px) {
        max-width: 800px;
    }
    @media (max-width: 767px) {
        max-width: none;
    }
}

body {
    &.lock {
        overflow-y: hidden;
    }
}

main {
    flex: 1 1 auto;
}

@import "header";

.hero {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% + 35px));
        width: 354px;
        height: 354px;
        background: #FFC721;
        border-radius: 50%;
        filter: blur(400px);
    }
    &__body {
        padding: 193px 0px 144px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        max-width: 800px;
        margin: 0 auto;
    }

    &__badge {
        margin: 0px 0px 14px 0px;
        padding: 6px 13px 6px 31px;
        border: 1px solid #E4E4E4;
        background-color: #FFFFFF;
        border-radius: 9999px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 13px;
            top: 50%;
            transform: translate(0, -50%);
            width: 8px;
            height: 8px;
            background-color: #FFC721;
            border-radius: 50%;
            border: 2px solid #FFC72140;
        }
    }

    &__title {
        margin: 0px 0px 14px 0px;
        h1 {
            color: #242A36;
            text-align: center;
            font-size: 52px;
            font-weight: 500;
            letter-spacing: -2.6px;
            line-height: 87%;
        }
    }

    &__text {
        max-width: 459px;
        width: 100%;
        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 174%;
            text-align: center;
        }
    }

    &__buttons {
    }

    &__inscription {
    }
}
.hero-title {
    &__images {
        display: inline-block;
        position: relative;
        padding: 0px 75px;
        line-height: 87%;
    }
    &__img {
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 6px;
        overflow: hidden;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 52%;
            height: 52%;
            object-fit: contain;
        }
        &.--1 {
            left: 0;
            top: 15px;
            background: radial-gradient(106.75% 98.19% at 55.99% 51.38%, #FFB121 0%, #F9F5E7 100%);
            box-shadow: 1px 1px 5px 0px #FFE09E8A;
            box-shadow: 6px 6px 8px 0px #FFE09E78;
            box-shadow: 13px 13px 11px 0px #FFE09E47;
            box-shadow: 24px 24px 13px 0px #FFE09E14;
            box-shadow: 37px 37px 15px 0px #FFE09E03;
            transform: rotate(-10deg);
        }
        &.--2 {
            top: 10px;
            right: 0;
            background: radial-gradient(52.01% 257.68% at 57.62% -157.68%, #68799C 0%, #242A36 100%);
            box-shadow: 0px 2px 5px 0px #343A4426;
            box-shadow: 0px 9px 9px 0px #343A4421;
            box-shadow: 0px 20px 12px 0px #343A4414;
            box-shadow: 0px 35px 14px 0px #343A4405;
            box-shadow: 0px 54px 15px 0px #343A4400;
            transform: rotate(12deg);
        }
    }
}

@import "footer";